 
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html , body {

    width: 100%;
    height: 100%;
    font-family: $font-body;
    color: $color-body;
}



a{
     color: inherit;
     text-decoration: none;

}

ul { 
    list-style: none;
}

button , input {
    outline: none;
    border: none;

}

img{
    width: 100%;
}

.container {
    max-width: $containerWidth;
    margin: 0 auto;
}




.dflex {
    display: flex;
    align-items: center;
}



.dgrid{
    display: grid;
    align-items: center;
}

@media (max-width: 1170px) {
    .container{
        padding: 0 20px;
    }
    
}