.card{
   max-width: 330px;
   display: inline-block;
    &__img{
        width: 100%;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    &__title{
        margin-top: 10px;
        padding-bottom: 15px;


    }
    h4{
        margin-bottom: 5px;
        font-size: 18px;
        line-height:  140% ;
        font-weight: 400;
        text-transform: uppercase;
    }
}