.model{
    background: #F1D3B9;
    padding: 60px 0 125px;



    &__box{

        // justify-content: center;
        position: relative;
        height: 650px;

    
    }

    &__item{
        position: absolute;
        display: inline;
        // width: 33%;
        
        display: inline-block;
        img{
            // height: 100%;
        }

        &:first-child{
            max-width: 340px;
            bottom: -4% ;
            left: 11%;
            z-index: 1;
            height: 50%;
            display: flex;
            align-items: flex-end ;
            text-align: end;
            border: 1px solid;

            img{

                height: 100%;
            }
            
        }
        &:nth-child(2){
            max-width: 632px;
            height: 100%;
            
   
            top: 50%;

            left: 30%;
            transform: translate(-50%, -50%);
            img{
                height: 100%;
            }
        }
    }
    &__text{
        max-width: 518px;
        // max-height: 582px;
        top: 18%;
        background: white;
        right: 15%;
        padding: 50px;

        h4{
            color: #B45F4D;
            font-family: Roboto;
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: 57.6px; 
            text-align: center;
        }

        p{
            color: #B45F4D;
            font-family: Roboto;
            font-size: 19px;
            font-style: normal;
            font-weight: 400;
            line-height: 30.4px;
            margin: 22px 0 40px;
        }
    }
}